body {
    margin: 0;
    font-family: 'Atma', cursive;
    background-image: url("/images/background.png"); 
    height: 100vh;    
}

a {
    text-decoration: none;
}

nav {
    display: flex;   
    justify-content: space-between; 
    margin-left: 40px;
    margin-right: 65px;
    align-items: center;    
    padding-top: 20px;
    margin-bottom: -15px;  

}

.nav_containerL h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
    -webkit-text-stroke: 3px black;
    color: white;
}

.nav_containerR {
    display: flex;
    font-size: 20px;  
    gap: 30px;     
}

.nav_element {
    font-weight: 600;
    margin-top: 5px;
    -webkit-text-stroke: 1px black;
    color: white;
}

#profileImg {
    height: 460px;
    width: 400px;
}

.main_container {
    border: 5px solid;
    border-radius: 10px;
    display: flex;
    width: 85%;
    height: 75vh;
    margin: auto;  
    background-color: #A6C4FF;  
    box-shadow: 0 0 50px #B080FF;
}

.img_container {
    margin: 0;
}

#profileImg {
    width: auto;
    height: 70%;
    padding-left: 60px;
    padding-top: 30px;
} 

.descriptions {
    margin-left: 85px;
    font-size: 35px;
    font-weight: 600;
    margin-top: 0;
}

.welcome_container {
    text-align: center;
    padding-left: 5px;
}

#welcome_header {
    font-size: 58px;
    line-height: 97px;
    margin-top: 55px;
    margin-bottom: 10px;
    font-weight: bolder;
    -webkit-text-stroke: 1px #CE5AE1;
    color: black;
    
}

#welcome_subtitle {
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    padding-left: 100px;
    margin-top: 0;
    width: 75%;
}

.skills_container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 50px;
}

.skills_header {
    text-align: center;
    margin-bottom: -20px;
    font-size: 30px;   
}

.skillsL {
    font-size: 22px;
    font-weight: 500;   
}

.skillsR {
    font-size: 22px;
    font-weight: 500; 
}

/**************************End of Homepage*********************************************/

/**************************Start of My Portfolio*********************************************/
#portfolio_header {
    text-align: center;
    font-size: 33px;
    margin-top: 0;
}

.card_container {
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
}

.card1 {
    border: 5px solid;
    border-radius: 10px;
    height: 60vh;
    width: 22%;
    background-color: #6663E5;     
    margin-left: 100px;
}

.card1_container {
    height: 50%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 1;     
    position: absolute;
}

.ux_text {
    position: absolute;
    bottom: 55px;
    margin-left: 85px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.card2 {
    border: 5px solid;
    border-radius: 10px;
    height: 60vh;
    width: 22%;
    background-color: #2A28A1;        
}

.card2_container {
    height: 50%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/webDev_background.png");  
    z-index: 1;     
    position: absolute;
}


.webDev_text {
    position: absolute;  
    bottom: 55px;  
    margin-left: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.card3 {
    border: 5px solid;
    border-radius: 10px;
    height: 60vh;
    width: 22%;
    background-color: #AF43C1;         
    
}

.card3_container {
    height: 50%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/other_background.png");  
    z-index: 1;     
    position: absolute;
}


.other_text {
    position: absolute;  
    bottom: 55px;  
    margin-left: 105px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/**************************End of My Portfolio*********************************************/

/**************************Start of UX Portfolio*********************************************/
.UXcard1 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 22%;
    background-color: #6663E5;     
    margin-left: 100px;
}

.UXcard1_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/greenerTogether.png");  
    background-repeat: no-repeat;  
    background-size: cover;
    z-index: 1;     
    position: absolute;
}

.project1 {
    position: absolute;
    bottom: 148px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.UXcard2 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 22%;
    background-color: #6663E5;        
}

.UXcard2_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/caribbeanGrille.png"); 
    background-repeat: no-repeat;  
    background-size: cover; 
    z-index: 1;     
    position: absolute;
}

.project2 {
    position: absolute;
    bottom: 165px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.UXcard3 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 22%;
    background-color: #6663E5;     
   
}

.UXcard3_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/library.png");  
    background-repeat: no-repeat;  
    background-size: cover;
    z-index: 1;     
    position: absolute;
}

.project3 {
    position: absolute;
    bottom: 148px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/**************************End of UX Portfolio*********************************************/

/**************************Start of Web Dev Portfolio*********************************************/
.card_containerW {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px; 
    
}

.webDevcard1 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 278px;
    background-color: #2A28A1;     
    margin-left: 100px;
}

.webDevcard1_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 0;     
    position: absolute;
}

.project1a {
    position: absolute;
    bottom: 163px;
    margin-left: 75px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.webDevcard2 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 278px;
    background-color: #2A28A1;        
}

.webDevcard2_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 0;     
    position: absolute;
}

.project2a {
    position: absolute;
    bottom: 163px;
    margin-left: 58px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.webDevcard3 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 278px;
    background-color: #2A28A1;     
   
}

.webDevcard3_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 0;     
    position: absolute;
}

.project3a {
    position: absolute;
    bottom: 163px;
    margin-left: 90px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.webDevcard4 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 278px;
    background-color: #2A28A1;     
    margin-left: 100px; 
    margin-bottom: 100px;
}

.webDevcard4_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 0;     
    position: absolute;
}

.project4a {
    position: absolute;
    bottom: -203px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.webDevcard5 {
    border: 5px solid;
    border-radius: 10px;
    height: 45vh;
    width: 278px;
    background-color: #2A28A1;     
}

.webDevcard5_container {
    height: 35%;
    width: 22%;
    border-left: 1px;
    border-right: 1px;
    border-top: none;
    border-bottom: 5px solid;   
    border-radius: 4px 4px 10px 10px;    
    background-image: url("/images/ux_background.png");  
    z-index: 0;     
    position: absolute;
}

.project5a {
    position: absolute;
    bottom: -202px;
    margin-left: 86px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}


/**************************Modal Stylings*********************************************/
.modal_container1 {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}


.webDev_modalImg1 {    
    border: 2px solid #888;
    border-radius: 10px;
    width: 325px;
    height: 250px;    
  }

#etchAsketch {
    padding-top: 35px;   
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 75%;
    z-index: 1;
    margin-top: 50px;
  }

  .modalTitle1 {
    text-align: center;
  }

  .modal_inner1 {
    display: flex;
    flex: 1;
    gap: 40px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  .webdevModalText1 {
    font-size: 22px;
    font-weight: 400;
  }

  .modal_buttons {
    display: flex;
    width: 100%;    
    gap: 70px;  
    justify-content: center;     
  }
  
  #closeModal, #launchDemo {
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #888;
    width: 145px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #closeModal {
    background-color: #040364;
    color: #fff;
    font-weight: 600;
  }

  #launchDemo {
    background-color: #CE5AE1;
    color: #fff;
    font-weight: 600;
  }

  /**************Modal 2********************/
  .modal_container2 {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}


#etchAsketch, #jsDrumkit, #odinRecipes {
    padding-top: 35px;   
}

 /**************Modal 3********************/
 .modal_container3 {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}

/**************Modal 4********************/
.modal_container4 {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}

/**************Modal 5********************/
.modal_container5 {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}